.Map {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  .mapboxgl-popup-content span {
    position: relative;
    display: inline-block;
  }
  .popup-row {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 14px;
  }
  .popup-column {
    display: flex;
    flex-direction: column;
  }
  .query-tag {
    height: 12px;
    width: 12px;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    font-weight: bold;
  }
  .query-value {
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    width: 100%;
    min-width: 60px;
    display: block;

    &--bold {
      font-size: 14px;
    }
  }
}
